@charset "utf-8";
*{margin:0;padding:0;list-style:none;border:0;}
body{width:100%;margin:0 auto;background-size:100%;}

/* main_img */
.img_gallery{height:700px;overflow:hidden;position:relative;width:964px;margin:0 auto;}
.main_img{height:100%;overflow:hidden;position:relative;width:100%;}
.main_img ul{width:9999px;height:100%;overflow:hidden;position:absolute;top:0;left:0;}
.main_img li{float:left;width:100%;height:100%;}
.main_img li span{display:block;width:100%;height:100%;}
.main_img li a{display:block;width:100%;height:100%;}

.img_font{position:absolute; bottom:30px; left:8.5%; color:#fff; width:100%; padding:10px;}
.img_font span{display:none; }

div.point{position:absolute;bottom:33px;left:50%;z-index:999;width:140px;height:21px;margin:0 0 0 -50px;}
div.point a{float:left;width:21px;height:21px;margin:0;padding:0;display:block;text-indent:-1000px}
div.point a.on{background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{left:10%;}
#btn_next{right:10%;}



